<%- include('../partials/header') %>
    <table>
        <thead>
            <tr id="table-head">
                <th>Airline</th>
                <th>Airport</th>
                <th>Flight No.</th>
                <th>Departure Date/Time</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(function(f){ %>
                <tr>
                    <td><br>
                        <%= f.airline %>
                    </td>
                    <td><br>
                        <%= f.airport %>
                    </td>
                    <td><br>
                        <%= f.flightNo %>
                    </td>
                    <td <%- Date.parse(f.departs)-Date.parse(new Date()) < 0 ? 'class="passed"' : '' %>><br>
                        <%= f.departs %>
                    </td>
                    <td><a href="/flights/<%= f._id %>">DETAILS</a></td>

                </tr>
                <% }); %>
        </tbody>
    </table>
    <%- include('../partials/footer') %>