<%- include('../partials/header') %>

    <section>
        <div>
            <span class="flights-show">Airline:</span>
            <%= flight.airline %>
        </div>
        <br>
        <div>
            <span class="flights-show">Airport:</span>
            <%= flight.airport %>
        </div>
        <br>
        <div>
            <span class="flights-show">Flight number:</span>
            <%= flight.flightNo %>
        </div>
        <br>
        <div>
            <span class="flights-show">Departs at:</span>
            <%= flight.departs%>
        </div>
        <br>
        <% if (flight.destinations.length) { %>
            <div><span class="flights-show">Destinations:</span><br>
                <% flight.destinations.forEach(function(d){ %>
                    <ul>
                        <li>
                            <%= d.airport %>
                                -
                                <%= d.arrival %>
                        </li>
                    </ul>
                    <% }) %>
            </div>
            <% } else { %>
                <div><span class="flights-show">No Destinations Yet</span></div>
                <% } %>
    </section>
<br>
    <div>
        <span class="flights-show">Tickets:</span>
        <% tickets.forEach(function(t){ %>
            <ul>
                <li>
                    Seat: <%= t.seat %>
                        -
                        Price: $<%= t.price %>
                </li>
            </ul>
            <% }) %>
    </div>

    <form action="/flights/<%= flight._id %>/tickets" method="GET">
        <button class="input-button">Add a new ticket</button>
    </form>

    <br>
    <span class="flights-show">Add destinations:</span>
    <form method="POST" action="/flights/<%= flight._id %>/destinations">
        <label>Select this flight's destinations/stops (one at a time)
            <select name="airport">
                <option value="AUS">AUS</option>
                <option value="DFW">DFW</option>
                <option value="DEN">DEN</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
            </select>
        </label><br>
        <label>Arrives at:
            <input type="datetime-local" name="arrival" value=<%=departsDate %>>
        </label><br>
        <input class="input-button" type="submit" value="Add Destination">
    </form>

    <%- include('../partials/footer') %>